<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="huskysir.dao.AnswerDao">

    <!-- 根据回答编号查询回答 -->
    <select id="findAnswerById" parameterType="java.lang.Integer" resultType="Answer">
        SELECT * FROM answer WHERE answer_id = #{answer_id}
    </select>

    <!-- 根据用户编号查询回答 -->
    <select id="findAnswerByUserId" parameterType="java.lang.Integer" resultType="Answer">
        SELECT * FROM answer WHERE answer_user_id = #{user_id}
    </select>

    <!-- 根据问题编号查询回答 -->
    <select id="findAnswerByQuestionId" parameterType="java.lang.Integer" resultType="Answer">
        SELECT * FROM answer WHERE answer_question_id = #{question_id}
    </select>

    <!-- 查询该回答下的所有一级评论(输入回答编号，一级评论指对回答的评论） -->
    <select id="findAllOfFirstComment" parameterType="java.lang.Integer" resultType="Comment">
        SELECT * FROM comment WHERE comment_answer_id = #{answer_id} AND comment_last_id IS NULL
    </select>

    <!-- 查询该回答下的所有一级评论数(输入回答编号，一级评论指对回答的评论） -->
    <select id="findTotalOfFirstComment" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(comment_id) FROM comment WHERE comment_answer_id = #{answer_id} AND comment_last_id IS NULL
    </select>

    <!-- 查询关注某回答的所有用户(输入回答编号) -->
    <select id="findAllOfFromUser" parameterType="java.lang.Integer" resultType="User">
        SELECT u.* FROM (SELECT from_user_id FROM user_relation_answer WHERE to_answer_id=#{answer_id}) AS ua
        INNER JOIN user u ON u.user_id = ua.from_user_id
    </select>

    <!-- 查询关注某回答的用户数(输入回答编号) -->
    <select id="findTotalOfFromUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(u.user_id) FROM (SELECT from_user_id FROM user_relation_answer WHERE to_answer_id=#{answer_id}) AS ua
        INNER JOIN user u ON u.user_id = ua.from_user_id
    </select>

    <!-- 新增回答:回答者用户编号、回答所对应的问题编号为必填项 -->
    <insert id="saveAnswer" parameterType="Answer">
        INSERT INTO answer(answer_id,answer_user_id,answer_question_id,answer_content,answer_view_count,
        answer_agree_count,answer_update_time,answer_create_time,answer_status)
        VALUES(#{answer_id},#{answer_user_id},#{answer_question_id},#{answer_content},#{answer_view_count},
        #{answer_agree_count},#{answer_update_time},#{answer_create_time},#{answer_status})
    </insert>

    <!-- 更新回答:回答编号、回答者用户编号、回答所对应的问题编号为必填项 -->
    <update id="updateAnswer" parameterType="Answer">
        UPDATE answer SET answer_user_id=#{answer_user_id},answer_question_id=#{answer_question_id},answer_content=#{answer_content},
        answer_view_count=#{answer_view_count},answer_agree_count=#{answer_agree_count},answer_update_time=#{answer_update_time},
        answer_create_time=#{answer_create_time},answer_status=#{answer_status}
        WHERE answer_id=#{answer_id}
    </update>

    <!-- 删除回答 -->
    <delete id="deleteAnswer" parameterType="java.lang.Integer">
        DELETE FROM answer WHERE answer_id=#{answer_id}
    </delete>

</mapper>